<!-- footer -->
<footer  class="py-5" [dir]="'dir' | translate">
  <div class="container">
      <div class=" footer-content row justify-content-center">
          <div class="col-lg-2 col-6 mb-3 ">
              <img src="assets/whitelogowithdotcom.png">
              <ul>
                  <li><a href="">{{'About Us' | translate}}</a></li>
                  <li><a href="">{{'Our Team' | translate}}</a></li>
                  <li><a href="">{{'Careers' | translate}}</a></li>
                  <li><a href="">{{'Press' | translate}}</a></li>
              </ul>

          </div>
          <div class="col-lg-2 col-6 mb-3">
              <h3>{{'Search by' | translate}}</h3>
              <ul>
                  <li><a href="">{{'Speciality' | translate}}</a></li>
                  <li><a href="">{{'Area' | translate}}</a></li>
                  <li><a href="">{{'Insurance' | translate}}</a></li>
                  <li><a href="">{{'Hospital' | translate}}</a></li>
                  <li><a href="">{{'Center' | translate}}</a></li>
              </ul>

          </div>
          <div class="col-lg-2 col-6 mb-3">
              <h3>{{'Are you a doctor ?' | translate}}</h3>
              <ul>
                  <li><a href="" routerLink="/SignInDoctor">{{'Join Vezeeta doctors' | translate}}</a></li>                   
              </ul>

          </div>
          <div class="col-lg-2 col-6 mb-3">
              <h3>{{'Need help?' | translate}}</h3>
              <ul>
                  <li><a href="">{{'Medical Q&As' | translate}}</a></li>                   
                  <li><a href="" routerLink="/ContactUs">{{'Contact Us' | translate}}</a></li>                   
                  <li><a href="" >{{'Terms Of Use' | translate}} </a></li>                   
                  <li><a href="" routerLink="/PrivatePolicy">{{'Privacy Policy' | translate}}</a></li>                   
                  <li><a href="">{{'Doctors Privacy Policy' | translate}}</a></li>                   
              </ul>

          </div>
          <div class="col-lg-2 col-6 mb-3 text-center">
              <img src="assets/google-play-badge.jfif" alt="">
              <img src="assets/app-store-badge.png" alt="">
              
              <div class="social text-lg-start text-center">
                  <ul>
                      <li><a href="" class=""><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="" class=""><i class="fab fa-instagram"></i></a></li>
                      <li><a href="" class=""><i class="fab fa-twitter"></i></a></li>
                  </ul>
  
              </div>

          </div>
      </div>

     
  </div>


</footer>
