<div class="container mx-auto" [dir]="'dir' | translate">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner" id="a">
            <div class="carousel-item active">
                <img src="../../../assets/img/32546716520191216193322228.png" class="d-block w-100" alt="..."
                    style="height: 40vh;">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/img/32546716520191216193427504.png" class="d-block w-100" alt="..."
                    style="height: 40vh;">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/img/32546716520191216193615844.png" class="d-block w-100" alt="..."
                    style="height: 40vh;">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/img/32546716520191216193717900.png" class="d-block w-100" alt="..."
                    style="height: 40vh;">
            </div>
        </div>

    </div>
    <!-- <h4 class="p-2">Trending now</h4>
    <section class="top-offer p-2 ">
        <div class="container-fluid ">

            <div>
                <div id="slider-one" class="carousel slide " data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row ">
                                <div class="col-lg-3 col-6">
                                    <div class="p-1 text-start position-relative">
                                        <span class="off">50% OFF</span>
                                        <img src="../../../assets/img/z.png" width="" alt="">
                                        <h4>Scaling And Polishing</h4>
                                        <div id="des" style="font-size: 14px;">1 Session scaling and polishing</div>
                                        <span class="old-price">500</span>
                                        <span class="offer-price">250 EGP</span>

                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="p-1 text-start position-relative">
                                        <span class="off">50% OFF</span>
                                        <img src="../../../assets/img/x.png" width="" alt="">
                                        <h4>Scaling And Polishing</h4>
                                        <div id="des" style="font-size: 14px;">1 Session scaling and polishing</div>
                                        <span class="old-price">1000</span>
                                        <span class="offer-price">500 EGP</span>

                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="p-1 text-start position-relative">
                                        <span class="off">20% OFF</span>
                                        <img src="../../../assets/img/c.png" width="" alt="">
                                        <h4>Nerve stuffing</h4>
                                        <div id="des" style="font-size: 14px;">1 Tooth Fillings</div>
                                        <span class="old-price">1,320</span>
                                        <span class="offer-price">1,056 EGP</span>

                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="p-1 text-start position-relative">
                                        <span class="off">50% OFF</span>
                                        <img src="../../../assets/img/v.png" width="" alt="">
                                        <h4>Laser teeth whitening.</h4>
                                        <div id="des" style="font-size: 14px;">1 Session Laser teeth whitening</div>
                                        <span class="old-price">3000</span>
                                        <span class="offer-price">1500 EGP</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="row ">
                                <div class="col-lg-3 col-6">
                                    <div class="p-1 text-start position-relative">
                                        <span class="off">70% OFF</span>
                                        <img src="../../../assets/img/b.png" width="" alt="">
                                        <h4>Teeth Cleaning</h4>
                                        <div id="des" style="font-size: 14px;">1 Session scaling and polishing</div>
                                        <span class="old-price">500</span>
                                        <span class="offer-price">150 EGP</span>

                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="p-1 text-start position-relative">
                                        <span class="off">70% OFF</span>
                                        <img src="../../../assets/img/a.png" width="" alt="">
                                        <h4>Teeth Cleaning</h4>
                                        <div id="des" style="font-size: 14px;">1 Session scaling and polishing</div>
                                        <span class="old-price">500</span>
                                        <span class="offer-price">150 EGP</span>

                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="p-1 text-start position-relative">
                                        <span class="off">70% OFF</span>
                                        <img src="../../../assets/img/n.png" width="" alt="">
                                        <h4>Teeth Cleaning</h4>
                                        <div id="des" style="font-size: 14px;">1 Session scaling and polishing</div>
                                        <span class="old-price">500</span>
                                        <span class="offer-price">150 EGP</span>

                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="p-1 text-start position-relative">
                                        <span class="off">70% OFF</span>
                                        <img src="../../../assets/img/m.png" width="" alt="">
                                        <h4>Teeth Cleaning</h4>
                                        <div id="des" style="font-size: 14px;">1 Session scaling and polishing</div>
                                        <span class="old-price">500</span>
                                        <span class="offer-price">150 EGP</span>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#slider-one"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#slider-one"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

        </div>

    </section> -->

    <!-- The Most Requested -->
    <h4 class="p-2">{{'The Most Requested' | translate}}</h4>
    <div class="container-fluid">
        <div class="row">
            <div class=" col-sm-12 col-md-6 col-lg-4 p-1 " *ngFor="let x of offers">
                <div class="card" (click)="goToDetails(x.id)">
                    <div class="dr-name" style="margin-bottom: 17px;">

                        <img [src]="x.ImgUrl" class="card-img-top" alt="...">
                        <h4><img [src]="x.DoctorImg" width="40px" style="border-radius: 50%;"
                                alt="">&nbsp;<span>{{x.DoctorName | translate}}</span></h4>
                        <div class="off">
                            {{x.Discount}}% {{'OFF' | translate}}
                        </div>
                    </div>

                    <div class="card-body">
                        <h6>{{x.SessionName | translate}}</h6>
                        <div id="des" style="font-size: 14px;">{{x.Num | translate}}</div>
                        <div>
                            <span class="rating">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </span>
                            <span class="rating-num">
                                <span>(455) </span>
                                <span>| {{x.Booked}} {{x.BookedString | translate}}</span>
                            </span>

                        </div>
                        <div>
                            <span style="text-decoration: line-through;">{{x.PriceBefore}} {{'EGP' | translate}}</span>
                            <span style="color: rgb(0, 213, 99);; font-size: 14px ; padding: 10px;">{{x.SaveString | translate}} {{x.Save}}
                                {{'EGP' | translate}}</span>

                            <div style="display: flex; justify-content: space-between;">
                                <div id="price" style="font-size: 20px;color:rgb(0, 112, 205);">{{x.Price}} {{'EGP' | translate}}</div>
                                <button id="btn" type="button" class="btn btn-primary"
                                    style="line-height: 20px; font-size: 14px;"
                                    >{{'Book' | translate}}</button>
                            </div>
                        </div>
                    </div><br>
                    <hr>
                </div>
            </div>
            
        </div>
    </div>
</div>